ytmusic-nav-bar { 
  -webkit-app-region: drag 
} 

ytmusic-pivot-bar-item-renderer { 
  -webkit-app-region: no-drag 
}

.ytmusic-search-box {
  -webkit-app-region: no-drag 
}

iron-icon {
  -webkit-app-region: no-drag 
}

#right-content {
  position: relative;
  right: 150px;
}

#window-buttons {
  background: #151515;
  width: 140px;
  height: 30px;
  -webkit-app-region: no-drag;
  user-select: none;
  position: fixed;
  top: 0; right: 0;
  display: grid;
  font-size: 10px;
  font-family: "Segoe MDL2 Assets";
}

.window-button {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; height: 100%;
}

.window-button:hover {
  background: #353535;
}

#min-button { grid-column: 1 }
#min-button:hover { background: #353535 }

#max-button, #restore-button { grid-column: 2 }
#max-button:hover, #restore-button:hover { background: #353535 }

#close-button { grid-column: 3 }
#close-button:hover { background: #E81123 }